{% extends "App/base.html" %}
{% block body %}

<div class="main">
    <section class="bg-secondary p-5">
        <h3 style="color:white">Welcome! {{request.user}}</h3>
        <div class="row">
            <div class="col-6">
                <h2><b><a href="/details" style="color:white">{{facilities.0.hospital}} <i
                        class="bi bi-pen-fill"></i></a></b></h2>
            </div>
            <div class="col-6">
                <a href="/dbookings" class="btn btn-info">Bookings</a>
            </div>
        </div>


    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div class="p-2 m-2">
                    <h5>New Feature</h5>
                    <hr>
                    <form method="post">{% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter Facility Name</label>
                            <input type="text" class="form-control" name="name" id="exampleFormControlInput1"
                                   placeholder="Facility Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Total</label>
                            <input type="number" class="form-control" name="total" id="exampleFormControlInput2"
                                   placeholder="Total" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Remaining</label>
                            <input type="number" class="form-control" name="remaining" id="exampleFormControlInput3"
                                   placeholder="Facility Name" required>
                        </div>
                        <div class="mb-3">
                            <input required type="submit" name="status" value="Save Facility" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div style="height:60vh; overflow:scroll">
                    {% for x in facilities %}
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <form method="post">{% csrf_token %}
                                    <div class="col"><label for="name">Name</label><input type="text" id="name"
                                                                                          class="form-control"
                                                                                          name="name"
                                                                                          value="{{x.name}}" required>
                                    </div>
                                    <div class="col"><label for="total">Total</label><input type="text" id="total"
                                                                                            class="form-control"
                                                                                            name="total"
                                                                                            value="{{x.total}}"
                                                                                            required></div>
                                    <div class="col"><label for="remaining">Remaining</label><input type="text"
                                                                                                    id="remaining"
                                                                                                    class="form-control"
                                                                                                    name="remaining"
                                                                                                    value="{{x.remaining}}"
                                                                                                    required>
                                    </div>
                                    <input type="hidden" value="{{x.id}}" name="fid">
                                    <div class="col"><br><input type="submit" class="btn btn-warning" name="status"
                                                                value="update fac"></div>
                                    <div class="col"><br><input type="submit" class="btn btn-danger" name="status"
                                                                value="delete fac"></div>
                                </form>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-6">
                <div class="p-2 m-2">
                    <h5>Doctors</h5>
                    <hr>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter Doctor Name</label>
                            <input type="text" class="form-control" name="name" id="exampleFormControlInput4"
                                   placeholder="Doctor Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Contact No</label>
                            <input type="number" class="form-control" name="contact" id="exampleFormControlInput5"
                                   placeholder="Contact Number" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="exampleFormControlInput6"
                                   placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Speciality</label>
                            <input type="text" class="form-control" name="speciality" id="exampleFormControlInput7"
                                   placeholder="Facility Name" required>
                        </div>
                        <div class="col"><label>Display Photo</label><input type="file"
                                                                            class="form-control"
                                                                            name="photo"
                                                                            value="{{x.photo}}" accept="image/*">
                        </div><br>
                        <div class="mb-3">
                            <input type="submit" name="status" value="Save Doctor" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div style="height:60vh; overflow:scroll">
                    {% for x in doctors %}
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="row">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="col"><label for="name">Name</label><input type="text"
                                                                                          class="form-control"
                                                                                          name="name"
                                                                                          value="{{x.name}}"></div>
                                    <div class="col"><label for="total">Contact No</label><input type="text"
                                                                                                 class="form-control"
                                                                                                 name="contact"
                                                                                                 value="{{x.contact}}">
                                    </div>

                                    <div class="col"><label for="remaining">Speciality</label><input type="text"
                                                                                                     id="speciality"
                                                                                                     class="form-control"
                                                                                                     name="speciality"
                                                                                                     value="{{x.speciality}}">
                                    </div>
                                    <input type="hidden" value="{{x.id}}" name="did">
                                    <br>
                                    <input type="submit" class="btn btn-warning" name="status"
                                           value="update doc">
                                    <input type="submit" class="btn btn-danger" name="status"
                                           value="delete doc">
                                </form>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>

        <hr>

    </div>

</div>

{% endblock %}